<script>
 window.gameName = "<%= @name %>";
 window.player = "<%= @player %>";
</script>

<div class="row">
  <div class="column">
    <p>Game Name: <%= @name %></p>
    <p>Player: <%= @player %></p>
    <div id="root">
      <p>React app not loaded...</p>
    </div>
  </div>
</div>
