<!DOCTYPE html>
<html>
<head>
<title>scrabble</title>
<script>
 window.gameName = "scrabble";
</script>
</head>
<body>
            <h1>Generic Scrabble</h1>
            <div class = "indexPage">
                <div id="index_root">
                    <p>React app not loaded...</p>
                </div>
            </div>
</body>
</html>