/* This file is for your main application css. */
/*
@import "./phoenix.css";
*/


table {
 border:2px solid #000;
 border-collapse:collapse;
 width:1000px;
 height:120px;
}
td {
 border:2px solid #000;
 width:100px;
 height:45px;
  text-align: center;
  font-size: 20px;
}

.createGameButton{
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  width:120px;
  height:40px;
}

.but {
 background-color:#fff;
 font-size:35px;
 width:100%;
 height:100%;
 max-width:63px;
 min-width:63px;
 font-weight: bold;
}

p {
 font-size:20px;
 padding-left:5px;
 padding-top:5px
}

.rackTable{
    width: 770px;
    height: 110px
}

.rackButton {
  width: 100%;
  height: 110px;
  font-size: 40px;
  min-width: 100px;
}

#name_input{
    border: 1px solid black;
    height: 30px;
    margin-left: 50px;
    width: 300px;
    font-size: 25px;
}

label{
    font-size: 26px;
}

input{
    margin-top: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.header-class > h1 {
    text-align: center;
}

.column{
    padding-right: 30px;
}


.actions > button {
  width: 140px;
  height: 60px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.forfeitButton{
    margin-left: 20px;
}

.restartButton{
    width: 200px;
    height: 60px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.index-table > thead > tr{
    font-size: 20px;
}
